<div class="container">
  <h3>Reservas:</h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Arrendador</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de término</th>
      <th scope="col">Precio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td><%= reservation.start_time %></td>
      <td><%= reservation.end_time %></td>
      <td><%= reservation.price %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
